.boy{
	margin: 0;
	font-family: Arial, sans-serif;
	
}

.con{
	max-width: 600px;
	margin: 40px auto;
	height: 600px;
	background-color: rgba(76, 118, 59, 0.6);
	border-radius: 8px;
	overflow-y: auto;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	scrollbar-color: #B0CE88 transparent;
}

.hid{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #c9d547;
	padding: 10px 16px;
	
}

.hid button{
	background: none;
	border: none;
	font-size: 35px;
	cursor: pointer;
}

.profpic{
	color: #c9d547;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: rgba(76, 118, 59, 0.6);
	
}

.frow{
	
	color: #c9d547;
	padding: 14px 18px;
	margin: 10px 0;
	border-radius: 6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	
}

.frow label{
	font-weight: bold;
}

.frm{
	flex: 1;
	color: #c9d547;
	padding: 25px 35px 60px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 300px;
	
}
.back-btn, .save-btn {
	background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
}

.Proform {
	text-align: left;
}

.prop {
	color: white;
	font-size: 105px;
	margin-left: 30px;
}

.bilog {
	margin-left: 35px;
	background-color: #B0CE88;
	border-radius: 50%;
	height: 125px;
	width: 125px;
}

.bilog img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
    }

input[type="file"]::file-selector-button {
	background: #f0f0f0;
	content: "+";
	display: none;
}

#imageInput {
	display:none;
}

input[type="file"]::file-selector-button:hover {
  background-color: #0056b3;
}

.prodiv {
	margin-left: 200px;
}



.porf {
	margin: 12px 0;
  background-color: #B0CE88;
  border-radius: 15px;
  padding: 10px 15px;
}

.pro {
	font-weight: bold;
}
	